@model IEnumerable<arti.Models.Artifact>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            timestamp
        </th>
        <th>
            wingspan
        </th>
        <th>
            head
        </th>
        <th>
            lhandX
        </th>
        <th>
            lhandY
        </th>
        <th>
            rhandX
        </th>
        <th>
            rhandY
        </th>
        <th>
            torso
        </th>
        <th>
            height
        </th>
        <th>
            arm
        </th>
        <th>
            leg
        </th>
        <th>
            bbox
        </th>
        <th>
            frameSize
        </th>
        <th>
            views
        </th>
        <th>
            stars
        </th>
        <th>
            processed
        </th>
        <th>
            owner
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wingspan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.head)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lhandX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lhandY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rhandX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rhandY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.torso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bbox)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frameSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.processed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.owner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
